.about{
    padding: 200px 0px;
}


/* OVERVIEW ========================================================== */
.about .overview{
    padding: 0px 7%;
    font-family: Sarabun-Medium, sans-serif;
}

.about .overview-text{
    column-count: 3;
    column-gap: 50px;
    column-rule-style: solid;
    column-rule-color: #24B463;
    font-family: Quicksand-Medium, sans-serif;
}




/* BOXES =============================================================== */
.about .boxes .row{
    min-height: 400px;
    color:whitesmoke;
}

.about #rect1{
    margin-top:250px;
}

.box1-in-view{background:#52b69a;}
.box2-in-view{background:#34a0a4;}
.box3-in-view{background:#168aad;}
.box4-in-view{background:#1a759f;}

.box1-not-in-view{color:#52b69a;}
.box2-not-in-view{color:#34a0a4;}
.box3-not-in-view{color:#168aad;}
.box4-not-in-view{color:#1a759f;}

.box1-in-view, .box2-in-view, .box3-in-view, .box4-in-view{
    color:white; 
    transition: all .4s ease; 
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease; 
    -ms-transition: all .4s ease; 
    -o-transition: all .4s ease;
}

.box1-not-in-view, .box2-not-in-view, .box3-not-in-view, .box4-not-in-view{
    background: #F5F5F5; 
    transition: all .4s ease; 
    -webkit-transition: all .4s ease; 
    -moz-transition: all .4s ease; 
    -ms-transition: all .4s ease; 
    -o-transition: all .4s ease;
}

.p1-in-view, .p2-in-view, .p3-in-view, .p4-in-view{
    opacity:1; 
    transition: all .4s ease; 
    -webkit-transition: all .4s ease; 
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease; 
    -o-transition: all .4s ease;
}

.p1-not-in-view, .p2-not-in-view, .p3-not-in-view, .p4-not-in-view{
    opacity:0; 
    transition: all .4s ease; 
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease; 
    -ms-transition: all .4s ease; 
    -o-transition: all .4s ease;
}

.about .row .box-text{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 0;
}

.about #rect1 .box-text{background: url('/img/about-tea.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
.about #rect2 .box-text{background: url('/img/about-why-choose.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
.about #rect3 .box-text{background: url('/img/about-culture.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
.about #rect4 .box-text{background: url('/img/about-diversity.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}


.about .boxes .row h2{
    font-family: Sarabun-Bold, sans-serif;
}

.about .boxes .row p{
    width: 100%;
    height: 100%;
    background: rgba(20,20,20,.6);
    margin:0;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10%;
    font-family: Quicksand-Bold, sans-serif;
    font-size:17px;
}

.about .text1-in-view, .about .text2-in-view, .about .text3-in-view, .about .text4-in-view{
    transform-style: preserve-3d;
    transform: scale(1.2);
    transition: all ease .7s;
}

.about .text1-not-in-view, .about .text2-not-in-view, .about .text3-not-in-view, .about .text4-not-in-view{
    transform-style: preserve-3d;
    transform: scale(1);
    transition: all ease .7s;
}



/* HOW WE STARTED ============================================================== */
.about .how-we-started .container{
    padding: 0;
    margin-top:250px;
}

.about .how-we-started .container h1{
    margin: 0px auto;
    border-bottom: 3px solid #2867ae;
    font-family: Sarabun-Bold, sans-serif;
}

.about .how-we-started .container h3, .about .how-we-started .container h6{
    font-family: Quicksand-Bold, sans-serif;
}

.about .desktop-how-we-started{
    display: flex;
    font-family: Quicksand-Medium, sans-serif;
}

.about .mobile-how-we-started{
    display:none;
    font-family: Quicksand-Medium, sans-serif;
}

.about .how-we-started .container .left-side{
    border-right:3px solid #2867ae;
}

.about .container .left-side .started-1, .about .container .left-side .started-2{
    background: #f5f5f5;
    border-top:3px solid #2867ae;
    margin-top: 100px;
    padding: 50px;
    box-shadow: 0px 5px 10px #999;
}

.about .container .right-side .started-1, .about .container .right-side .started-2{
    background: #f5f5f5;
    border-top:3px solid #2867ae;
    margin-top: 300px;
    padding: 50px;
    box-shadow: 0px 5px 10px #999;
}

.about .container .left-side .started-1, .about .container .left-side .started-2{
    position: relative;
}

.about .container .right-side .started-1, .about .container .right-side .started-2{
    position: relative;
}

.about .how-we-started .container .round-img{
    border:3px solid #2867ae;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:-37px;
    padding: 10px;
    background: whitesmoke;
    box-shadow: 0px 5px 10px #999;

}

.about .how-we-started .container img{
    height: 44px;
    width: 44px;
}





/*  MEET THE TEAM =========================================================*/
.about .meet{
    margin-top:250px;
}

.about .meet h1{
    font-family: Sarabun-Bold, sans-serif;
}

.about-meet-nav{
    width: 100vw;
    font-family: Quicksand-Bold, sans-serif;
}
.about-meet-nav ul{
    justify-content: center;
}

.about-meet-nav ul li{
    margin: 15px 5px;
}

.about-meet-nav ul li a{
    padding: 15px;
    cursor: pointer;
    border:1px solid transparent;
    color: black;
}

.about-meet-nav ul li a.about-meet-active{
    border:1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #2867ae;
}

.about .meet .container-fluid{
    margin-top: 100px;
}

.about .meet .meet-box{
    width:320px;
    height: 360px;
    margin:30px 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.about .meet .meet-box img{
    width: 300px;
    height: 270px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 5px 15px #999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.about .meet .meet-box .details{
    width: 250px;
    padding: 10px;
    position: absolute;
    bottom:-50px;
    left:35px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor:initial;
    z-index:2;
}

.about .meet .meet-box .details h6{
    height:70px;
    margin:0;
    color:#222;
    font-family: Quicksand-Medium, sans-serif;
}

.about .meet .meet-box .social-media{
    display: flex;
    justify-content: center;
}

.about .meet .meet-box .social-media img{
    height: 35px;
    width: 35px;
    margin:0px 3px;
    box-shadow: none;
    cursor: pointer;
}


.about .modal-body{
    padding:30px;
}

.about .modal-content p{
    font-family: Quicksand-Medium, sans-serif;
}

.about .modal-footer .social-media img{
    height: 35px;
    width: 35px;
    box-shadow: none;
    cursor: pointer;
}

#about-employee3, #about-employee4, #about-employee5, #about-employee6, #about-employee7, #about-employee8, #about-employee9{
    display:none;
}




/* OUR VALUES ================================================ */
.our-values{
    margin-top: 250px;
    font-family: Quicksand-Medium, sans-serif;
}

.our-values h1{
    font-family: Sarabun-Bold, sans-serif;
}

.our-values .paragraph{
    border-left: 3px solid #2867ae; padding-left:10px;
}

.our-values .container .row {
    overflow: hidden;
}

#val1, #val2, #val3, #val4, #val5, #val6{
    padding:20px 0px;
    margin:0;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.value-active{
    color:whitesmoke;
    background-color: #2867ae;
}

.our-values .container .row img{
    object-fit: cover;
    object-position: center;
    height:450px;
    width:100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 5px 15px #999;
}

.val-text{
    display: flex;
    align-items: center;
    min-height:170px;
}

.val-text p{
    margin:0;
}







/* MEDIA ONLY SCREEN ========================================= */
@media only screen and (max-width: 1000px) {
    .about .overview-text{
        column-count: 2;
    }
}
@media only screen and (max-width: 995px) {
    .about .desktop-how-we-started{
        display:none;
    }
    .about .how-we-started .container h1{
        border:none;
    }
    .about .mobile-how-we-started{
        display:inherit;
        padding: 30px 5%;
    }
    .about .mobile-how-we-started .started-1, .about .mobile-how-we-started .started-2{
        border-top:3px solid #2867ae;
        padding: 15px 0px 50px 0px;
    }
    .about .mobile-how-we-started .title{
        text-align:center;
    }
    .about .meet nav li a{
        font-size: 14px;
    }

    .about .meet nav li{
        margin-top:12px;
        margin-bottom:12px;
    }
}
@media only screen and (max-width: 767px) {
    #rect2, #rect4{
        flex-direction: column-reverse;
    }
    #rect1 #box1, #rect1 .box-text p, #rect2 #box2, #rect2 .box-text p, #rect3 #box3, #rect3 .box-text p, #rect4 #box4, #rect4 .box-text p{
        min-height:80vh;
        text-align: center;
    }
}
@media only screen and (max-width: 650px) {
    .about .overview-text{
        column-count: 1;
    }

    .our-values h1{
        text-align:center;
    }

    .our-values .paragraph{
        border:none;
        text-align: center;
    }

    .about{
        padding: 100px 0px 200px 0px;
    }
} 

@media only screen and (max-width: 576px) {
    .about .overview h1, .about .overview p{
        text-align: center;
    }

    .about h1{
        font-size: 40px;
    }

    .about h2{
        font-size: 27px;
    }

    .about h3{
        font-size: 24px;
    }

    .about h6{
        font-size: 15px;
    }

    .about p, ol li{
        font-size: 15px;
    }
    .about .boxes .row p{
        font-size:15px;
    }

    .about .how-we-started p{
        text-align: center;
    }

    .about .modal-body{
        padding: 20px 15px;
    }
    .about .modal-body p{
        text-align: center;
    }

    .about .meet, .about .our-values{
        margin-top:150px;
    }
    .about #rect1, .about .how-we-started .container{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .about .meet .container-fluid{
        padding:0px;
    }
    .about .meet .meet-box{
        width:100vw;
        height: 360px;
        margin:30px 0px;
    }   
    .about .meet .meet-box h6{
        font-size:15px;
    }   

    .about .meet .meet-box img{
        width: 74vw;
        height: 270px;
    } 
    .about .meet .meet-box .details{
        width: 64vw;
        padding: 10px;
        position: absolute;
        bottom:-50px;
        left:18vw;
    }
    #val1, #val2, #val3, #val4, #val5, #val6{
        padding:15px 0px;
        width: 160px;
        font-size:15px;
    }
    .our-values .container .row img{
        height:320px;
    }
}

@media only screen and (max-width: 360px) {
    .about .meet .meet-box img{
        width: 84vw;
        height: 270px;
    } 
    .about .meet .meet-box h6{
        font-size:14px;
    } 
    .about .meet .meet-box .details{
        width: 74vw;
        left:13vw;
    }
    #val1, #val2, #val3, #val4, #val5, #val6{
        padding:15px 0px;
        width: 150px;
        font-size:14px;
    }
    .our-values .paragraph{
        font-size:14px;
    }
    .our-values .container .row img{
        height:280px;
    }
}


@media only screen and (max-height: 640px) {
    .about h1{
        font-size: 32px;
    }
    .about h2{
        font-size: 25px;
    }

    .about h3{
        font-size: 20px;
    }

    .about h6{
        font-size: 15px;
    }

    .about p{
        font-size: 15px;
    }
    .about .boxes .row p{
        font-size:14px;
    }
    .about .meet nav li a{
        font-size: 12px;
    }

    .about .meet nav li{
        margin-top:10px;
        margin-bottom:10px;
    }
}