.portfolio .portfolio-nav{
  position: -webkit-fixed;
  position: sticky;
  top: 44px;
  z-index:5;
  background:white;
  padding:20px 10px;
}

.portfolio .portfolio-nav ul{
    justify-content: space-around;
}

.portfolio .portfolio-nav ul li{
    margin: 15px;
}

.portfolio .portfolio-nav ul li a{
    padding: 15px 30px;
    cursor: pointer;
    border:1px solid transparent;
    color: black;
    font-family: Quicksand-Bold, sans-serif;
}

.portfolio .portfolio-nav ul li a.portfolio-active{
    border:1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #24B463;
}

.portfolio .album{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 15px 0px;
}

.portfolio .album-box{
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin:10px 5px;
    overflow: hidden;
    position: relative;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.portfolio .album-box img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.portfolio .album-text{
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 10px 15px;
}

.portfolio .album-text h5{
    color:black;
    font-family: Roboto-Regular,sans-serif;
    font-size:16px;
}

#railways, #wwtp, #miscel{
    display:none;
}


@media only screen and (max-width: 898px) {
    .portfolio .portfolio-nav ul li a{
        font-size:14px;
    }
    .portfolio .portfolio-nav ul li{
        margin: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .portfolio .portfolio-nav ul li a{
        font-size:12px;
    }
    .portfolio .portfolio-nav ul li{
        margin: 10px;
    }
}