/*  CONTENT ===================================================== */
.portfolio .col-md-11{
    margin: 0;
    padding: 0;
}

.portfolio .title{
    background-color: #2867ae;
    color:whitesmoke;
    font-weight: bold;
    padding: 80px 30px;
    text-align: center;
}

.portfolio .content .album-box{
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin:5px;
    overflow: hidden;
    position: relative;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.portfolio .content .album-box img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.portfolio .content .album-box-text{
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 10px;
}

.portfolio .content .album-box-text h5{
    color:black;
}


/* NAV BAR ============================================================== */
.portfolio .col-md-1{  
    margin:0; 
    padding: 0;
    position: relative;
    background: #2867ae;
}

.portfolio .nav-bar{
    position: sticky;
    top:40vh;
    left:0;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.portfolio .nav-bar .bullet{
    width:20px;
    height: 20px;
    margin:10px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgba(20,20,20,.5);
    cursor: pointer;
}

.portfolio .nav-bar .bullet-active{
    background-color: whitesmoke;
}



/*  MEDIA QUERY ======================================================= */
@media only screen and (max-width: 767px) {
    .portfolio {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .portfolio .col-md-1{
        position:sticky;
        top:45px;
        left: 0;
    }
    .portfolio .nav-bar{
        flex-direction: row;
    }
    .portfolio .nav-bar .bullet{
        margin-left: 15px;
        margin-right: 15px;
    }
}